<div id="<%= dom_id employee %>">
  <p>
    <strong>Nome:</strong>
    <%= employee.name %>
  </p>

  <p>
    <strong>Cargo:</strong>
    <%= employee.role %>
  </p>

  <p>
    <strong>Documento:</strong>
    <%= employee.document %>
  </p>

</div>
