<% content_for :title, "Novo funcionário" %>

<h1 class="font-extrabold text-2xl mb-3">Novo funcionário</h1>

<%= render "form", employee: @employee %>

<br>

<div>
  <%= link_to "Voltar à lista de funcionários", employees_path %>
</div>
